{% load django_vite %} {% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Django Shop</title>

        {% vite_hmr_client %} 
        {% vite_asset 'js/main.js' %}

        <!-- Preload stylesheets-->
        <link rel="preload" href="{% static 'css/bootstrap.css' %}" as="style">
        <link rel="preload" href="{% static 'css/styles.css' %}" as="style">

        <!-- Add stylesheets -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    </head>
    <body>

        {% include 'navbar.html' %}

        {% block content %}
        
        {% endblock content %}

        {% include 'footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>